{% extends 'base.html' %}

{% block header %}
<h1 class="text-center">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="ml-auto mt-30">
	<form method="post">
		<div class="form-control">
			<label for="username">Username</label>
			<input name="username" id="username" required>
		</div>
		<div class="form-control">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" required>
		</div>
		<div class="form-control">
			<input type="submit" value="Log In">
		</div>
	</form>
</div>
{% endblock %}