#header-text-4 .bg {
    background-image: url('../images/bg-12.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    opacity:1;
}#header-text-text .bg {
    background-image: url('../images/bg-29.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity: 0.25;
}#desc-text-2 .bg {
    background-image: url('../images/bg-73.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    opacity:1;
}#desc-text-4 .bg {
    background-image: url('../images/bg-75.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    opacity:1;
}#desc-text-7 .bg {
    background-image: url('../images/bg-32.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.85;
}
#price-4col .bg-wrap {
    background-color: #f4f5f6;
}
#blog-2col .bg-wrap {
    background-color: #F4F5F6;
}
#contact-form-2 .bg {
    background-position: center bottom;
    background-size: cover;
    opacity: 1;
    background-image: url(../images/bg-11.jpg);
}
